/* Messages */

div.error {
border: 4px double red;
}

div.success {
border: 4px double green;
}

div.warning {
border: 4px double yellow;
}

/* Other styles */

.deleted {
text-decoration: line-through;
}