{% extends "base.html" %}

{% block apptitle %}
  {% block title %}Page-specific part of title here{% endblock %}
{% endblock %}

{% block appbody %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'wordengine:index' %}">Start screen</a>
      </div>

      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'wordengine:add_lexeme_entry' %}">Add lexeme entry</a></li>
          <li><a href="{% url 'wordengine:list_lexeme_entry' %}">Lexeme entries</a></li>
          <li><a href="{% url 'wordengine:view_projects' %}">Data import</a></li>
          <!--    <a href="">Quickly add translations</a> | -->
          <!--    <a href="{% url 'wordengine:add_wordform_lexeme' %}">Add word (directly)</a> | -->
          <li><a href="{% url 'wordengine:admin' %}">Administer</a></li>
          <li><a href="{% url 'admin:login' %}">Admin login</a></li>
          <li><a href="{% url 'login' %}">User login</a></li>
          <!--<a href="{% url 'admin:index' %}">Django admin</a></div>-->
        </ul>
      </div>
    </div>
  </nav>
  {% block content %}Page body here{% endblock %}
{% endblock %}
