<!DOCTYPE html>
<html>
<head>
    <title>WordControl — {% block pagetitle %}Page-specific part of title here{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'wordengine/css/wordengine.css' %}" />
</head>

<body>
    <div><strong>Navigation:</strong> <a href="{% url 'wordengine:index' %}">Start screen</a> |
    <a href="{% url 'wordengine:view_projects' %}">Data import</a> |
<!--    <a href="">Quickly add translations</a> | -->
<!--    <a href="{% url 'wordengine:add_wordform_lexeme' %}">Add word (directly)</a> | -->
    <a href="{% url 'wordengine:admin' %}">Administer</a></div>
    <!--<a href="{% url 'admin:index' %}">Django admin</a></div>-->
<hr />

{% for message in messages %}
    <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>Action result: {{ message }}</div>
{% endfor %}

<div>{% block pagebody %}Page body here{% endblock %}</div>
<hr />
<!-- <div>{% debug %}</div> -->
</body>
</html>