{% extends "wordengine/base.html" %}
{% block pagetitle %}{{ lexemeentry }}{% endblock %}
{% block pagebody %}
    <h1>{{ lexemeentry }}</h1>
    <p><a href="{% url 'wordengine:edit_lexeme_entry' lexemeentry.language lexemeentry.slug %}">edit</a></p>
    <p><strong>{{ lexemeentry.language }} {{ lexemeentry.syntactic_category }}</strong></p>
    <p>
    {% for wordform in lexemeentry.mainform_full %}
        {% for wf_ws in wordform.1 %}
            {% if forloop.counter == 2 %}({% endif %}
            {{ wf_ws }}
            {% if forloop.counter > 1 and forloop.last %}){% endif %}
        {% endfor %}
        {% for dialect in wordform.0 %}
            <em>({{ dialect }})</em>,
        {% endfor %} ,
    {% endfor %}
    </p>
    <p><em>{{ lexemeentry.forms.comment|linebreaks }}</em></p>
    <ul>
    {% for form in lexemeentry.oblique_forms %}
        <li>{{ form.0 }}:
        {% for wordform in form.1 %}
            {% for wf_ws in wordform.1 %}
                {{ wf_ws }}
            {% endfor %}
            {% for dialect in wordform.0 %}
                <em>{{ dialect }}</em>,
            {% endfor %} ,
        {% endfor %}
        </li>
    {% endfor %}
    </ul>
    <p>
    {% for rel_type, rel_dests in lexemeentry.relations.items %}
    {{ rel_type }}: {% for rel_dest in rel_dests %}{{ rel_dest }}, {% endfor %}
    {% endfor %}
    </p>
    <ol>
    {% for semantic_group in lexemeentry.translations %}
        <li>{{ semantic_group.comment_dialect }}
        <ul>{% for language_group in semantic_group.translations %}
            <li>{{ language_group.language }}
            <ul>{% for entry in language_group.entries %}
                <li>{{ entry|linebreaks }}</li>
            {% endfor %}</ul></li>
        {% endfor %}</ul></li>
    {% endfor %}
    </ol>
    <p>{{ lexemeentry.sources_text|linebreaks }}</p>
{% endblock %}