{% if searchtype %}
<hr />

<h2>Search results</h2>
    {% for lexeme, details in lexeme_result.items %}
        <p> <a href="{% url 'wordengine:show_wordlist' lexeme.id %}"><strong>
            {{ lexeme.lexeme_title }}
            </strong>
            — {{ lexeme.language }} {{ lexeme.syntactic_category }}</a>
            <br />
            (found:{% for found_word in details.foundforms %} {{ found_word.spelling }}{% endfor %})
            <br />
                <button name="_find_translation_lexeme" value="{{ lexeme.id }}" type="submit">Find translation</button>
            {% if searchtype == "regular" %}
                <button name="_add_wordform" value="{{ lexeme.id }}" type="submit">Add word</button>
                <button name="_add_translation" value="{{ lexeme.id }}" type="submit">Add translation</button>
            {% elif searchtype == "in_translation" %}
                <button name="_add_as_translation" value="{{ lexeme.id }}" type="submit">Add as translation</button>
            {% endif %}
            {% if translation_search %}
                {% if details.translations %}
                    <ul>
                    {% for translation in details.translations %}
                        <li><strong>
                            {% for spelling in translation.spellings %}
                                {% if not forloop.first %} ~ {% endif %}
                                {{ spelling.formatted }}
                            {% endfor %}
                            {% for transcription in translation.transcriptions %}
                                {% if not forloop.first %} ~ {% endif %}
                                {{ transcription.formatted }}
                            {% endfor %}
                            </strong>
                            — {{ translation.language }} {{ translation.syntactic_category }}
                            ::: <a href="{% url 'wordengine:show_wordlist' translation.id %}">(details)</a> :::</li>
                    {% endfor %}
                    </ul>
                    {% else %}
                    <p>This word has no translations.</p>
                    {% endif %}
            {% endif %}
        </p>
    {% empty %}
        <p>Search returned no results.</p>
    {% endfor %}
{% endif %}