{% extends "wordengine/base.html" %}
{% block pagetitle %}Manage words{% endblock %}
{% block pagebody %}

<h1>Word management</h1>
    <h2>Lexeme parameters</h2>
        <form action="" method="get">
            {{ word_search_form.as_p }}
            <input type="submit" value="Find lexeme" name="_lexeme_search" />
            <input type="submit" value="Find translation" name="_translation_search">
            <input type="submit" value="New lexeme" name="_new_lexeme" />

            {% include "wordengine/search_result.html" %}
            {% include "wordengine/lexeme_details.html" %}
            {% include "wordengine/translation_result.html" %}
        </form>

{% endblock %}