{% if exact_lexeme %}
<hr />

<h2>Lexeme details</h2>
    <h3>
        {{ exact_lexeme.language }} {{ exact_lexeme.syntactic_category }}
    </h3>
    {% if exact_lexeme.inflection %}<p>Inflection: {{ exact_lexeme.inflection }}</p>{% endif %}
    <p>{% for lex_param in exact_lexeme.lexeme_parameter_m.all %}{{ lex_param }}{% endfor %}</p>
    <ul>
    {% for word in exact_lexeme.wordform_set.all %}
        <li>
        <span {% if word.processed_formatted_all %}title="{{ word.processed_formatted_all }}" class="underdots"{% endif %}>
            {{ word.default_formatted }}</span>
        [{{ word.gramm_category_set }}]
        <i>({{ word.dialects }})</i>
        <!--::: <a href="{% url 'wordengine:delete_wordform' word.id %}">(delete)</a> :::-->
        </li>
    {% endfor %}
    </ul>
    <!--<form action="" method="get">-->
        <!--<button name="_find_translation_lexeme" value="{{ exact_lexeme.id }}" type="submit">Find translation</button>-->
        <!--<button name="_add_wordform" value="{{ exact_lexeme.id }}" type="submit">Add word</button>-->
        <!--<button name="_add_translation" value="{{ exact_lexeme.id }}" type="submit">Add translation</button>-->
    <!--</form>-->

{% endif %}