{% extends "wordengine/base.html" %}
{% block pagetitle %}Project setup{% endblock %}
{% block pagebody %}
<h1>Project setup</h1>
    <h2>General setup</h2>

    <form action="" method="post">
        {{ projectfromcsv }}<br />
        {% if errors %}
        Project produced with errors:<br />
            {% for subject, error in errors %}
                <p>{{ subject }}<br />
                {{ error }}</p>
            {% endfor %}
        {% endif %}
        {% csrf_token %}

        {{ form }}
        <input type="hidden" value="{{ projectfromcsv }}" name="project" />
        <!-- TODO Disable Produce if setup forms are not completed -->
        <input type="submit" value="Produce" name="_produce" />
        <input type="submit" value="Clear produced" name="_clear" />
        <input type="submit" value="Delete" name="_delete" />



    {% include "wordengine/project_column_form.html" %}

    {% include "wordengine/project_dictionary_form.html" %}
        <input type="submit" value="Save" name = "_save" />
    </form>

{% endblock %}