{% extends "wordengine/base.html" %}
{% block pagetitle %}Project setup{% endblock %}
{% block pagebody %}
<h1>Project setup</h1>
    <h2>Column setup</h2>
    <form action="" method="post">
        {{ pr_col_setup_form_set.management_form }}
        {% csrf_token %}
        {% for pr_col_setup_form in pr_col_setup_form_set %}
            <h3>Column {{ pr_col_setup_form.instance.num }}</h3>
            <ul>
                <li>Language: {{ pr_col_setup_form.instance.language_l }}</li>
                <li>Dialect: {{ pr_col_setup_form.instance.dialect_l }}</li>
                <li>Source: {{ pr_col_setup_form.instance.source_l }}</li>
                <li>Wr. system: {{ pr_col_setup_form.instance.writing_system_l }}</li>
                <li>Processing type: {{ pr_col_setup_form.instance.processing_l }}</li>
            </ul>
        {{ pr_col_setup_form.as_p }}
        {% endfor %}
        <input type="submit" value="Save" name="_column_save" />
    </form>

    <h2>Project dictionary</h2>
    <form action="" method="post">
        {{ untyped_param_form_set.management_form }}
        {% csrf_token %}
        <h3>Untyped parameters</h3>
        {% for untyped_param_form in untyped_param_form_set %}
            <p>Parameter: {{ untyped_param_form.instance.value }}<br/>
               From: {{ untyped_param_form.instance.src_obj }}
            </p>
            {{ untyped_param_form.as_p }}
        {% endfor %}
        <input type="submit" value="Save" name="_types_save" />
    </form>

    <form action="" method="post">
        {{ lex_param_setup_form_set.management_form }}
        {% csrf_token %}
        <h3>Lexeme parameters</h3>
        {% for literal_value, lex_param_setup_form in lex_param_setup_form_set %}

        {% endfor %}
        <h3>Wordform parameters (grammatical categories, source dialects & informants)</h3>


        <h3>Semantic group parameters (themes, </h3>

    </form>

{% endblock %}